body{
    background-color: rgb(104, 97, 248);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    margin-top: 250px;
    width: 280px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 5px;
}

.Month{
    background-color: orangered;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    font: 30px cursive;
    margin:0px;
    width:100%;
    height:80px;
    Display: flex;
    justify-content: center;
    align-items: center;
}
.Day{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:60px;
    color: #a9a9a9;
    font: 20px cursive;
}
.Date{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:40%;
    color: black;
    font: 80px cursive;
    margin-top: 0px;
    margin-bottom: 15px;
}
.Year{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;   
    color: #a9a9a9;
    font: 20px cursive;
    margin-bottom: 15px;
}
